# We have chosen Ollama here
LLM_PROVIDER=ollama

# Our Ollama is running locally
OLLAMA_MODEL=llama3.1:8b
OLLAMA_HOST=http://127.0.0.1:11434

# We left it empty because we don't need to send too many requests, so we won't hit the rate limit
S2_API_KEY=

MISTRAL_API_KEY=
MISTRAL_MODEL=open-mistral-nemo
